:root {
    --bread-start: 26; 
}

#panettone {
  max-width: 700px;
  max-height: 90vh;
}

.plate-bottom {
    fill:#9BD3D5; 
}
.plate-top {
    fill:#DAEEF5; 
}
.bread-right {
    fill:	hsl(calc(var(--bread-start) + 19), 86%, 71%)
}
.bread-left {
    fill: 	hsl(calc(var(--bread-start) + 20), 79%, 64%)
}
.bread-wrap {
    fill:hsl(calc(var(--bread-start) + 19), 57%, 34%); 
}
.bread-top {
    fill: hsl(var(--bread-start), 54%, 47%); 
}
.bread-shadow {
    fill:hsl(calc(var(--bread-start) + 1), 53%, 44%); 
}
.bread-slice {
    fill:hsl(calc(var(--bread-start) + 19), 85%, 71%); 
}
.rasins {
    fill:hsl(calc(var(--bread-start) - 5), 31%, 35%); 
}
.fruit {
    fill: hsl(calc(var(--bread-start) + 11), 72%, 62%); 
}
