/* this file is loaded by index.html and styles the page */

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 2em 1em;
  line-height: 1.5em;
}

main {
  max-width: 800px;
}

h1 {
  font-style: italic;
  color: #373fff;
  max-width: calc(100% - 5rem);
  line-height: 1.1;
}

.st0{fill:#9BD3D5;}
.st1{fill:#DAEEF5;}
.st2{fill:none;}
.st3{fill:#F5D577;}
.st4{fill:#ECCA5C;}
.st5{fill:#876E25;}
.brea{fill:#B97038;}
.st7{fill:#AD6A35;}
.st8{fill:#BA7139;}
.st9{fill:#A06531;}
.st10{fill:#F4D578;}
.st11{fill:#75513D;}
.st12{fill:#E4AE58;}