:root {
    --bread-start: 26;
    --pantone: 185, 112, 56;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  height: 100%;
}

#panettone {
  max-width: 700px;
  height: calc(100vh - 100px);
}

.plate-bottom {
    fill:#9BD3D5; 
}
.plate-top {
    fill:#DAEEF5; 
}
.bread-right {
    fill:	hsl(calc(var(--bread-start) + 19), 86%, 71%)
}
.bread-left {
    fill: 	hsl(calc(var(--bread-start) + 20), 79%, 64%)
}
.bread-wrap {
    fill:hsl(calc(var(--bread-start) + 19), 57%, 34%); 
}
.bread-top {
    fill: hsl(var(--bread-start), 54%, 47%); 
}
.bread-shadow {
    fill:hsl(calc(var(--bread-start) + 1), 53%, 44%); 
}
.bread-slice {
    fill:hsl(calc(var(--bread-start) + 19), 85%, 71%); 
}
.rasins {
    fill:hsl(calc(var(--bread-start) - 5), 31%, 35%); 
}
.fruit {
    fill: hsl(calc(var(--bread-start) + 11), 72%, 62%); 
}

header {
  margin-bottom: 20px;
  background-color: hsl(calc(var(--bread-start) + 1), 53%, 44%);
  color: white;
}

h1 {
  margin: 0;
  padding: 20px;
  text-align: center;
  font-family: 'Lobster', cursive;
  font-size: 3em;
}

.pantone {
  margin-top: 30px;
  width: 200px;
  border: 1px solid #c2c2c2;
}

aside {
  margin: 20px 20px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.swatch {
  display: block;
  height: 200px;
  width: 200px;
  background-color: rgb(var(--pantone));
  border-bottom: 1px solid #c2c2c2;
}

.name {
  display: block;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 1.6em;
  font-family: arial, helvetica, sans-serif;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 1.2em;
   font-family: arial, helvetica, sans-serif;
}